<h5>TL;DR;</h5>
<ul>
  <li>Check-in time is 3:00 p.m. Check-out is at 10:00 a.m.</li>
  <li>We will send you the key code to unlock the electronic front door the day before your reservation. Instructions are <a href="tbd">here</a></li>
  <li>The reservation comes with a <a href="tbd">reserved parking spot</a>. Parking anywhere else on the property might get your vehicle towed.</li>
  <li>This is strictly a non-smoking unit. If you need to light up please use the patio.</li>
  <li>Questions or concerns, please don't hesitate to contact us.</li>
</ul>
