<p>Check-in time is 3:00 p.m. Please let us know in advance if you would like an early check-in. We will try to accommodate your request based on availability.</p>

<p>The front door has an electronic keypad lock like the one in the video below. We will send you the key code to unlock the door a day before your arrival.</p>

<div class="flex-video">
  <iframe width="280" height="158" src="https://www.youtube.com/embed/tUpIyehUEOc?t=49" frameborder="0" allowfullscreen></iframe>
</div>

<h5>Unlocking the door</h5>
<ul>
  <li>Enter the 4-digit code.</li>
  <li>If the key code is entered correctly the keypad will turn green.</li>
  <li>Turn the knob anti-clockwise to unlock.</li>
  <li>NOTE: incorrect entry will turn the keypad red.</li>
</ul>
<img src='https://lh5.googleusercontent.com/GdAjEzrjCTVzvO8p0vuN8HD6VwayRzQdRS46HOtowt6t683VEMrljRaKfZX3AAtV6lnTNjO0baLsQV-cSQ_KnPHh1Cjbes8LEmYN-b0q7EDCYmZCQJrZqHmctCvjZNqBFh2N4axq' />

<h5>Locking the door</h5>
<p>The door does not automatically lock behind you. Please make sure you lock it before you leave.</p>
<ul>
  <li>After closing the door, press the <i>Schlage</i> button.</li>
  <li>Turn the knob clockwise to lock.</li>
</ul>

<img src='https://lh4.googleusercontent.com/GJ1Ayz2GZHxr4I84BorhRSYT39r8AwkQQ4WCDJgKdmWvpv7ybmw5HE42YahTTNTyHOKqjS3gZ2RK9OrpR3u0tplRPE11GxOsEMZx5Zy0RQV6lsM3vv3stvrYeEwV1y9KhWjJ_y76' />
