<h5>Internet</h5>
<p>Network name: <span class="label secondary">interwebz</span></p>
<p>Password: <span class="label secondary">pluto123</span></p>

<h5>TV</h5>
<p>The TV does not have a cable hookup. But it is connected to Apple TV and Chromecast.</p>
<p>You will find the remotes &mdash; black Samsung remote for the TV and the small silver one for Apple TV &mdash; next to the TV.</p>

<!-- TODO: add the following -->
<p>Apple TV and Chromecast instructions</p>
