<p>501 Clover is beautiful 1-bed loft townhome located in the South Park neighborhood of Seattle.</p>
<p>It is available for short-term rentals through <a href="tbd">AirBnB</a> as well as <a href="tbd">Home Away</a>. We do not accept reservations directly. Please use one of these services for reservations and enquiries. This website is intended as a guide for guests who already have a confirmed reservation.</p>
<h5>TL;DR;</h5>
<ul>
  <li>Check-in time is 3:00 p.m. Check-out is at 10:00 a.m.</li>
  <li>The reservation comes with a <a href="tbd">reserved parking spot</a>. Parking anywhere else on the property might get your vehicle towed.<li>
</ul>
