<p>501 Clover is 6 miles south of Seattle downtown. The drive usually takes 10 - 15 minutes.</p>

<p>The unit is at the intersection of S. Cloverdale St and 5th Ave. S. The property can be accessed from 5th Ave.</p>

<img src="/images/directions.jpg"/>

<h4>Driving</h4>
<p>Directions and location on Google maps are accurate. Follow the directions for route optimized for traffic at the moment.</p>

<h4>Taxi or ride share services</h4>
<p>Lyft or Uber costs around $15 from airport as well as downtown. The cost drops to $10 for ride-share options such as Lyft Line and Uber Pool.</p>

<h4>Public transit</h4>
<h5>From airport</h5>
<p>Take Link light rail from SeaTac station to Beacon Hill station. Board bus route 60 from Beacon Ave. S. & S. Lander St. The bus stops right in front of the unit.</p>
<p>Schedules for <a href='http://kingcounty.gov/depts/transportation/metro/schedules-maps/060.aspx' target='_blank'>bus route 60</a> and <a href='http://www.soundtransit.org/schedules/link-light-rail' target='_blank'>Link light rail</a> are here.</p>

<h5>From downtown</h5>
<p>Bus route #132 connects downtown to South Park. See route <a href='http://kingcounty.gov/depts/transportation/metro/schedules-maps/132.aspx'>here</a>.</p>
