<section id="hero" class="row text-center">
  <h1>501<span class="highlight">clover</span></h1>
  <h2>loft-living on tap</h2>
</section>

<section id="intro" class="row">
  <p>Welcome to 501 Clover. We are happy to be hosting you at our home.</p>
  <p>This page has information, instructions and helpful tips to make your stay more comfortable. We hope you enjoy your stay.</p>
  <p>&mdash; Srini & Kavya</p>
</section>
<%= partial 'partials/details' %>
